.navbar{
    display: flex;
    background-color: blue !important;
    color: white !important;
    padding: 0 !important;
    font-family: sans-serif !important;
    font-size: 1rem !important;
    position: fixed !important;
    width: 100%;
    
}

.list{
    color: white !important;
}
.navimg{
    width: 60px;
    margin-right: 40px !important;
    margin-left: 24px !important;
}
.navimg:hover{
    transform: rotate(360deg);
    transition: transform 0.3s;
}
.img{
    width: 100%;
}
.container-fluid{
    background-color: #0065c3;
    height: 88px !important;
    color: white !important;
    margin: 0 !important;
}
.nav-link{
    color: white !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
    margin: 0px 10px ;
}
.btn{
    color: white !important;
    border: 2px solid white !important ;
    border-radius: 50px !important  ;
    padding: 2px 24px !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
}
.btn:hover{
    background-color: white !important;
    color: #0065c3 !important;
}
.nitrosection{
    background-color: #1274cf;
    padding: 40px;
}
.nitroimg{
    width: 400px;
}
.nitroimg1{
    width: 400px;
}
#section1{
    background-color: #0065c3;
    display: flex;
}
.ribsimg{
    width: 30%;
    
}
.ribs{
    width: 100%;
    padding: 30px 40px;
}
.betterimg{
    width: 70%;
}
.better{
    width: 100%;
}
.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065c3;
}
.mango{
    width: 100%;
}
.section3{
    background-color: #0065c3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.section3 p{
    font-size: 10rem;
    line-height: 10rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.section4{
    background-color: #0065c3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.section4 p{
    font-size: 3.5rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    width: 40%;
    line-height: 4rem;
}
.section4 img{
    width: 600px;
}
.footer{
    background-color: #1a76cc;
    display: flex;
    align-items: center;
}
.footer img{
    width: 80px;
    margin-left: 40px;
    margin-right: 250px;
}
.footer P{
    padding: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
}